<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>选择地址</title>
</head>
<body>
	<form method="POST" action="/create_order">
		<table>
		<thead>
			<tr>
				<th>选择</th>
				<th>地址</th>
				<th>修改</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			{% for address in address_list%}

				<tr>
					<td><input type="radio" name="address" value="{{address.id}}"></td>
					<td>{{address.address}}</td>	
					<td>修改</td>
					<td><a href="/delete_address/{{address.id}}/2">删除</td>				
			
			</tr>
			{% endfor %}
		</tbody>
	 	</table>
	 	<input type='submit' value='下一步'>
	</form><br>
	<form method="POST" action='add_address/2'>
		<input type="submit" value="添加地址">
	</form>

</body>
</html>>